@using SinemaBiletOtomasyonu.Models.Siniflar
@model List<FilmTur>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Film Türleri</h2>

<table class="table table-bordered" style="margin:20px">
    <tr>
        <th>ID</th>
        <th>Tür Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {

        <tr>
            <td>
                @k.TurID
            </td>
            <td>
                @k.TurAdi
            </td>
            <td>
                <a href="/FilmTur/FilmTurSil/@k.TurID" class="btn btn-danger"><font color="white">Sil</font></a>
            </td>
            <td>
                <a href="/FilmTur/FilmTurGetir/@k.TurID" class="btn btn-success"><font color="white">Güncelle</font></a>
            </td>
        </tr>

    }

</table>
<a href="/FilmTur/FilmTurEkle" class="btn btn-dark">Film Tür Ekle</a>&nbsp;<a href="/Admin/Index" class="btn btn-dark">Admin Paneli</a>
<br />
<br />

