
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}





<div class="modal fade" id="exampleModal536" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header  text-center">
                <h3 class="modal-title w-100" id="exampleModalLabel">
                    SinemaDevi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">


                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <h5 class="card-title">Giriş Yap</h5>
                        <p class="card-text">
                            <form class="col-6">

                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail adresinizi girin">

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">-</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifreyi girin">
                                </div>

                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Beni Hatırla</label>
                                </div>
                                <button type="submit" class="btn btn-dark">Giriş Yap</button>
                                <a href="kayitol.html" target="_blank" class="btn btn-dark">Kayıt Ol</a>

                            </form>
                        </p>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <div class="col text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Çıkış</button>

                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">SinemaDevi</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dolor augue, blandit vitae volutpat at, lacinia a lorem. Nulla malesuada in elit nec pretium. Sed laoreet mi ac est rhoncus finibus. Maecenas non elementum mi, non tincidunt nisl. Praesent rutrum, mi vitae dictum mattis, mi quam egestas enim, ut sagittis nisi elit vel urna. Duis pharetra dolor id massa imperdiet molestie. Donec tristique interdum magna, non placerat urna rutrum quis. Integer accumsan gravida nibh ut tempor. Aliquam congue arcu id est vulputate volutpat. Nullam dui nibh, ultricies sit amet pellentesque quis, commodo vitae quam. In in purus eget nunc lacinia ullamcorper. Ut id ante sit amet est ultricies lobortis. In euismod mollis lorem ut consequat.</p>
        <p>Proin malesuada urna a consectetur venenatis. Nullam condimentum dolor quis turpis rhoncus porta. Nulla viverra felis ac malesuada viverra. Duis at lacus in est porttitor lacinia condimentum condimentum turpis. Duis eu tellus velit. Cras lacinia, velit id faucibus ultrices, tortor arcu blandit elit, eget dapibus ante nunc ac enim. Quisque varius, nulla eget volutpat gravida, odio leo ultrices arcu, ut condimentum arcu dui a dolor. Pellentesque vulputate orci nec enim iaculis posuere. Praesent bibendum ligula nec neque condimentum eleifend. Praesent facilisis, enim ac rutrum eleifend, ex elit sagittis erat, non tempus massa velit non urna. Donec nulla diam, sollicitudin et diam sed, mattis hendrerit mi. Sed consectetur, risus at finibus hendrerit, nunc metus pharetra urna, sed commodo nibh odio at lectus. Duis ut nulla non ligula porttitor molestie quis vitae diam. Fusce condimentum diam ut consequat molestie. Aliquam rutrum dui turpis, ac bibendum justo facilisis placerat.</p>
        <p>Vivamus pretium sapien a ligula fermentum accumsan. Sed quam eros, ultricies eu nisl et, gravida porta mauris. Donec sit amet congue est. Pellentesque id lacus non enim pellentesque scelerisque. Nunc dictum odio at est blandit, in imperdiet metus tristique. Morbi a nibh at urna aliquam sagittis nec in turpis. Curabitur vitae leo eleifend, consectetur risus sed, scelerisque nibh. Suspendisse auctor orci sit amet mollis malesuada. Nam ut neque et libero porta fermentum et quis libero. Donec consectetur metus ex, a porttitor leo tristique quis. Sed et finibus libero, sed malesuada est. Phasellus porta ex a mauris convallis, et laoreet magna rutrum. Proin viverra purus sed nulla congue, id molestie arcu rhoncus.</p>


    </div>
</div>

