
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<div class="row">
    <div class="col-6" align="center">
        <br /><br /><br />
        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <h5 class="card-title">Bize Ulaşın</h5>
                <p class="card-text">
                    <div class="col-6"><input class="form-control" type="text" placeholder="Ad Soyad giriniz"></div><br />
                    <div class="col-6"><input class="form-control" type="text" placeholder="Mail adresinizi giriniz"></div><br />
                    <div class="col-6"><input class="form-control" type="text" placeholder="Telefon numaranızı giriniz"></div><br />
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mesajınızı giriniz"></textarea>
                </p>
                <div class="g-recaptcha" data-sitekey="6Ldbdg0TAAAAAI7KAf72Q6uagbWzWecTeBWmrCpJ"></div>
                <a href="#" class="btn btn-dark">Gönder</a>
            </div>
        </div>




    </div>
    <div class="col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3044.373260186112!2d29.07994491488966!3d40.267457972629224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca40653791a2d5%3A0xd25ecfe140a173f2!2sBUTGEM%20BTSO%20E%C4%9Fitim%20Vakf%C4%B1!5e0!3m2!1str!2str!4v1612778053381!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <hr align="center" width="600">
        <b>Adres:</b> DOSAB, Mustafa Karaer Caddesi,/ Çiğdem 2 Sokak No:1, 16245 Osmangazi/Bursa<br />
        <b>Telefon:</b> (0224) 261 12 11<br />
        <b>Faks:</b> +90 (224) 261 22 11<br />
        <b>E-Posta:</b> butgem@butgem.org.tr




    </div>



</div>
