
@{
    ViewBag.Title = "Sosyal";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<br />
<div class="container">
    <h2>Sosyal Medyada Bu Hafta</h2>
    <div class="row">

        <div class="col-4">
            <iframe width="320" height="440" src="https://www.instagram.com/p/CKLrTCfBXST/embed" frameborder="0"></iframe>
        </div>


        <div class="col-4">
            <iframe width="320" height="440" src="https://www.instagram.com/p/CLMKHjdp4IP/embed" frameborder="0"></iframe>
        </div>

        <div class="col-4">
            <iframe width="320" height="440" src="https://www.instagram.com/p/CJ5qNSMBx1o/embed" frameborder="0"></iframe>
        </div>



    </div><!--row-->
    <br /><br />
    <div class="row">

        <div class="col-6">
            <blockquote class="twitter-tweet"><p lang="tr" dir="ltr">Tom Holland&#39;lı <a href="https://twitter.com/hashtag/Cherry?src=hash&amp;ref_src=twsrc%5Etfw">#Cherry</a> filminden yeni bir tanıtım: <a href="https://t.co/dIt1LT3kaM">pic.twitter.com/dIt1LT3kaM</a></p>&mdash; ÇapaMag Sinema (CapaMagSinema) <a href="https://twitter.com/CapaMagSinema/status/1360155712618397697?ref_src=twsrc%5Etfw">February 12, 2021</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div class="col-6">
            <blockquote class="twitter-tweet"><p lang="tr" dir="ltr">BluTV’nin yeni dizisi Yeşilçam’dan ilk fragman yayınlandı. <a href="https://t.co/bRLuw1Q9E9">pic.twitter.com/bRLuw1Q9E9</a></p>&mdash; Movie Graf (MovieGrafMG) <a href="https://twitter.com/MovieGrafMG/status/1360311962064846850?ref_src=twsrc%5Etfw">February 12, 2021</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div><!--row-->
    <br /><br />
    <div class="row">

        <div class="col-4">
            <iframe width="320" height="440" src="https://www.instagram.com/p/CK9AFAwspfS/embed" frameborder="0"></iframe>
        </div>

        <div class="col-4">
            <iframe width="320" height="440" src="https://www.instagram.com/p/CIDhEf0hozZ/embed" frameborder="0"></iframe>
        </div>

        <div class="col-4">
            <iframe width="320" height="440" src="https://www.instagram.com/p/CLNHfZVqk2b/embed" frameborder="0"></iframe>
        </div>
    </div><!--row-->
</div><!--container-->
<br /><br /><br />