
@{
    ViewBag.Title = "Yardim";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<br />
<style>
    .collapsible {
        background-color: #252728;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        margin: 3px;
    }

        .active, .collapsible:hover {
            background-color: #181818;
        }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }
</style>


<h2>Sıkça Sorulan Sorular</h2>

<button class="collapsible">1- Nasıl Üye Olabilirim?</button>
<div class="content">
    <p>Sinemadevi.com’dan “ÜYE OL” linkine tıklayarak, veya Sinemadevi uygulaması profilim sekmesinden üyelik formunu doldurup hemen üye olabilir ve alışverişe başlayabilirsiniz. Sitemize üye olmak için herhangi bir ücret ödemeniz gerekmemektedir.</p>
</div>

<button class="collapsible">2- Neden üye olmalıyım?</button>
<div class="content">
    <p>
        Sinemadevi.com üyeleri bir çok avantajdan faydalanıyor:

        Beğendiğiniz ürünleri istediğiniz özelliklere göre hızlıca filtreleyip sepetinize ekleyebilirsiniz.
        Siparişlerinizin durumu hakkında bilgi edinebilirsiniz.
        Kampanyalarımız veya promosyonlarımız hakkında haberdar olabilirsiniz.
        Hesabınıza giriş yaptığınızda sadece size özel hazırlanmış olan kampanyaları görebilirsiniz.
        Ayrıca Kartuş Kartınız varsa Kartuş’un sezon ürünlerinde geçerli olan %4 puan kazandırma avantajından yararlanabilirsiniz.
        Kartuş’unuzda birikmiş puanlarınızı harcayabilirsiniz.
    </p>
</div>
<button class="collapsible">3- Üye olmadan alışveriş yapabilir miyim?</button>
<div class="content">
    <p>Hayır. Sonraki bilet alımlarınızda size kolaylık sağlaması için üyeliği öneriyoruz.</p>
</div>
<button class="collapsible">4- Üyelik bilgilerimi güncelleyebilir miyim?</button>
<div class="content">
    <p>Profilim sekmesinden üyelik bilgilerinizi kolaylıkla güncelleyebilirsiniz.</p>
</div>
<button class="collapsible">5- Üyelik avantajlarından nasıl yararlanabilirim?</button>
<div class="content">
    <p>
        Kullanıcı adınız ve şifrenizle Sinemadevi.com’a'a ya da Sinemadevi uygulamasına giriş yapmanız yeterli olacaktır. Böylece Sinemadevi.com' un sadece üyelerine sağladığı avantajlardan yararlanabileceksiniz;

        Yeni ürünlerden ilk siz haberdar olun
        En avantajlı kampanyalarımızdan yararlanın
        Kişiye özel indirim fırsatından yararlanın
        Ayrıca Kartuş Kartınız varsa Kartuş’un sezon ürünlerinde geçerli olan %4 puan kazandırma avantajından yararlarının
        Kartuş’unuzda birikmiş puanlarınızı harcayın
    </p>
</div>
<button class="collapsible">6- Şifremi unuttum ne yapmalıyım?</button>
<div class="content">
    <p>Şifrenizi unuttuysanız, üye girişi bölümünde bulunan ‘ŞİFREMİ UNUTTUM’ linkine tıklayıp, gelen sayfadaki kutuya üye olurken belirttiğiniz e-posta adresinizi yazmanız yeterli olacaktır. Şifrenizi değiştirebilmeniz içim mail adresinize bir link gönderilecektir. Linke tıklayarak yeni bir şifre belirleyebilirsiniz. Güvenliğiniz açısından bu link 30 dakika süreyle aktif olacaktır. 30 dakika içinde şifre belirleme işlemini yapamadıysanız tekrar ‘ŞİFREMİ UNUTTUM’ kutucuğuna tıklamanız gerekmektedir.</p>
</div>
<button class="collapsible">7- Üye olduğum e-posta adresini artık kullanmıyorum. Ne yapmalıyım?</button>
<div class="content">
    <p>
        Üyelik bilgilerinizi değiştirebilmek için 0850 288 62 84 numaralı telefondan müşteri hizmetlerimiz ile iletişime geçebilirsiniz.
    </p>
</div>
<button class="collapsible">8- Kişisel verilerim korunuyor mu?</button>
<div class="content">
    <p>Sinemadevi.com sitesine ve Sinemadevi uygulamasına üye olurken ve alışveriş yaparken sağladığınız kişisel verileriniz 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”) uyarınca işleme amacı ile bağlantılı, sınırlı ve ölçülü olacak şekilde, işlenmelerini gerektiren amaç çerçevesinde kaydedilir, depolanır, muhafaza edilir, yeniden düzenlenir, hukuken bu kişisel verileri talep etmeye yetkili olan kurumlar ile paylaşılır, KVKK’nın ve diğer kanunların öngördüğü koşullarda üçüncü kişilere aktarılabilir, devredilebilir ve KVKK’da sayılan diğer şekillerde işlenebilir. Ayrıca, kişisel verilerinizin işlenmesine ilişkin detaylı düzenlemeye Mavi Üyelik Sözleşmesi ve Gizlilik Prensiplerinde yer verilmiştir. Mavi Üyelik Sözleşmesi ve Gizlilik Prensipleri’nin 5. maddesinde yer alan haklarınızı kullanmak amacıyla bizimle bilgi@mavi.com e-posta adresinden iletişime geçebilirsiniz.</p>
</div>
<button class="collapsible">9- Havale/EFT ile ödeme seçeneğini nasıl kullanabilirim?</button>
<div class="content">
    <p>Ödeme adımında ödeme seçeneği olarak Havale/EFT seçeneğini seçmeniz gerekmektedir. ''Ödeme'' butonuna bastıktan sonra siparişinizin ödemesini size gönderilecek olan mailde bulunan ilgili banka hesabına 3 iş günü içerisinde yatırmanız durumunda siparişiniz en kısa sürede hazırlanacak ve tarafınıza gönderilecektir. 3 iş günü içerisinde ödemesi yapılmayan siparişler iptal edilmektedir.</p>
</div>
<button class="collapsible">10- 3D Secure Nedir?</button>
<div class="content">
    <p>
        3D Secure, elektronik ticaret işlemlerinin güvenliğinin artırılması amacıyla Visa ve MasterCard tarafından geliştirilmiş bir güvenli ödeme sistemdir.

        Verified by Visa® ve MasterCard® SecureCode logoları bulunan sanal iş yerlerinden yapılan alışverişler Visa ve MasterCard güvencesi altındadır.

        3D Secure ile yapılan ödemelerde banka ve kullanıcı ekranında, banka tarafından sunulan özel bir 3D işlem ekranı açılır, alışveriş yapılan kredi kartı sahibinin cep telefonuna SMS ile onay kodu gönderilir veya kart sahibi dışında kimsenin bilmediği özel bilgiler istenir. Bu sayede hem kart sahipleri hem de üye iş yerleri çalıntı kart vb  olumsuz durumlara karşı korunmuş olur.
    </p>
</div>
<button class="collapsible">11- Nasıl Üye Olabilirim?</button>
<div class="content">
    <p>Sinemadevi.com’dan “ÜYE OL” linkine tıklayarak, veya Sinemadevi uygulaması profilim sekmesinden üyelik formunu doldurup hemen üye olabilir ve alışverişe başlayabilirsiniz. Sitemize üye olmak için herhangi bir ücret ödemeniz gerekmemektedir.</p>
</div>

<button class="collapsible">12- Neden üye olmalıyım?</button>
<div class="content">
    <p>
        Sinemadevi.com üyeleri bir çok avantajdan faydalanıyor:

        Beğendiğiniz ürünleri istediğiniz özelliklere göre hızlıca filtreleyip sepetinize ekleyebilirsiniz.
        Siparişlerinizin durumu hakkında bilgi edinebilirsiniz.
        Kampanyalarımız veya promosyonlarımız hakkında haberdar olabilirsiniz.
        Hesabınıza giriş yaptığınızda sadece size özel hazırlanmış olan kampanyaları görebilirsiniz.
        Ayrıca Kartuş Kartınız varsa Kartuş’un sezon ürünlerinde geçerli olan %4 puan kazandırma avantajından yararlanabilirsiniz.
        Kartuş’unuzda birikmiş puanlarınızı harcayabilirsiniz.
    </p>
</div>
<button class="collapsible">13- Üye olmadan alışveriş yapabilir miyim?</button>
<div class="content">
    <p>Hayır. Sonraki bilet alımlarınızda size kolaylık sağlaması için üyeliği öneriyoruz.</p>
</div>
<button class="collapsible">14- Üyelik bilgilerimi güncelleyebilir miyim?</button>
<div class="content">
    <p>Profilim sekmesinden üyelik bilgilerinizi kolaylıkla güncelleyebilirsiniz.</p>
</div>
<button class="collapsible">15- Üyelik avantajlarından nasıl yararlanabilirim?</button>
<div class="content">
    <p>
        Kullanıcı adınız ve şifrenizle Sinemadevi.com’a'a ya da Sinemadevi uygulamasına giriş yapmanız yeterli olacaktır. Böylece Sinemadevi.com' un sadece üyelerine sağladığı avantajlardan yararlanabileceksiniz;

        Yeni ürünlerden ilk siz haberdar olun
        En avantajlı kampanyalarımızdan yararlanın
        Kişiye özel indirim fırsatından yararlanın
        Ayrıca Kartuş Kartınız varsa Kartuş’un sezon ürünlerinde geçerli olan %4 puan kazandırma avantajından yararlarının
        Kartuş’unuzda birikmiş puanlarınızı harcayın
    </p>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<style>
    <link href="~/Content/bootstrapcss/bootstrap.css" rel="stylesheet" / >
    <link href="~/Content/bootstrapcss/bootstrap.min.css" rel="stylesheet" / >
    <link href="~/Content/bootstrapcss/bootstrap.rtl.min.css" rel="stylesheet" / >
    <link href="~/Content/bootstrapcss/bootstrap-utilities.rtl.min.css" rel="stylesheet" / >
    <link href="~/Content/bootstrapcss/bootstrap-utilities.min.css" rel="stylesheet" / >
    <link href="~/Content/bootstrapcss/bootstrap-grid.min.css" rel="stylesheet" / >
</style>
<br />

