
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<center>
    <p> SinemaDevi web sitesi admin paneline hoşgeldiniz.</p>

    <p>
        Herhangi bir sorunda yazılımcımız ile iletişime geçiniz
    </p>

</center>